<ion-view view-title="menuRight">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap">
                なんかしら１
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap">
                なんかしら2
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-left" type="item-text-wrap">
                なんかしら3
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>