<ion-view view-title="menuLeft">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                保有株１
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                保有株２
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                保有株３
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>